<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             mustMatch="true">
    <serverUrls>
        <!-- ArcGis services -->
        <serverUrl url="http://services.arcgisonline.com" matchAll="true"/>

        <serverUrl url="http://sampleserver6.arcgisonline.com/arcgis/rest/services" matchAll="true"/>

        <serverUrl url="http://server.arcgisonline.com/arcgis/rest/services" matchAll="true" />

        <serverUrl url="http://services.arcgisonline.com/ArcGIS/rest/services" matchAll="true" />

        <!-- mag services -->
        <serverUrl url="http://geo.azmag.gov/gismag/rest/services" matchAll="true"></serverUrl>

    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
