<!DOCTYPE html>

<html class="no-js">
<head>
    <meta charset="utf-8">

    <title></title>
</head>

<body>
    <button class="close closeX" data-dismiss="panel" id="" onclick=
    "toggleContent()" type="button">&times;</button> <a class="close helpB"
    data-dismiss="panel" data-target="#helpModalContent" data-toggle="modal"
    href="#" id="" type="button"><img src="img/help_icon.png"></a>

    <div class="panel-heading" id="legendHeader">
        <h4>Contents</h4>
    </div>

    <div class="panel-group" id="accordion">
        <div class="panel panel-default modal-style">
            <div class="panel-heading" id="pHeader1">
                <h3 class="panel-title"><a class="accordion-toggle"
                data-parent="#accordion" data-toggle="collapse" href=
                "#collapseOne" id="pTitle1">Layer Options</a></h3>
            </div>

            <div class="panel-collapse collapse" id="collapseOne">
                <div class="panel-body" id="tocDiv">
                <div id="toggleDiv"></div>
                <div id="ThicknessSlider" style="display:none;">
                  <hr>
                  <div class="sliderTitle">
                          Parcel Thickness
                      </div>

                      <div class="center" id="slider3">
                          <div data-dojo-type="dijit/form/HorizontalRule"></div>

                          <ol class="sliderLables" data-dojo-type="dijit/form/HorizontalRuleLabels">
                              <li>1px</li>
                              <li>2.5px</li>
                              <li>5px</li>
                          </ol>
                      </div>
                  </div>
                </div>
                  <div id="highlight">
                    Parcel Highlighting: 
                    <input type="radio" id="single" class="hRadio" checked="checked" name="radio"><label for="single">Single</label>
                    <input type="radio" id="multiple" class="hRadio" name="radio"><label for="multiple">Multiple</label>
                    <button id="clearHighlights" class="btn-xs">Clear</button>
                  </div>
            </div>
        </div><!-- /end layer panel -->

        <div class="panel panel-default modal-style">
            <div class="panel-heading" id="pHeader2">
                <h3 class="panel-title"><a class="accordion-toggle"
                data-parent="#accordion" data-toggle="collapse" href=
                "#collapseThree" id="pTitle2">Transparency Options</a></h3>
            </div>

            <div class="panel-collapse collapse" id="collapseThree">
                <div class="panel-body" id="slideDiv">
                    <div class="sliderTitle">
                        Flood Area Transparency Slider
                    </div>

                    <div class="center" id="slider1">
                        <div data-dojo-type="dijit/form/HorizontalRule"></div>

                        <ol class="sliderLables" data-dojo-type=
                        "dijit/form/HorizontalRuleLabels">
                            <li>100%</li>

                            <li>50%</li>

                            <li>0%</li>
                        </ol>
                    </div><br>
                    <div class="sliderTitle">
                        Zoning Transparency Slider
                    </div>

                    <div class="center" id="slider2">
                        <div data-dojo-type="dijit/form/HorizontalRule"></div>

                        <ol class="sliderLables" data-dojo-type=
                        "dijit/form/HorizontalRuleLabels">
                            <li>100%</li>

                            <li>50%</li>

                            <li>0%</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div><!-- /end slider panel -->
        <hr>

        <span id="zoneDefinitionsLink" role="button" data-toggle="modal" data-target="#defModal"><a href="#" title="Definitions">Zoning Definitions</a></span>
            <span id="floodZoneDefinitionsLink" role="button" data-toggle="modal" data-target="#defFloodModal"><a href="#" title="Flood Zond Definitions">Flood Zone Definitions</a></span>
            <br><br>

        <div class="scroll" id="legendDiv"></div>
    </div><!-- /end panel group-->
</body>
</html>