<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
    </head>
    <body>

        <div class="modal-header">
            <button type="button" class="close closeX" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h2 class="modal-title" id=""><strong>Zoning Definitions</strong></h2>
        </div><!-- /.modal-header -->

        <div id="" class="legal modal-body">
        <table id="defTable" class="table table-striped">
            <tr>
                <th><strong>Zoning District&nbsp;</strong></th>
                <th><strong>Summary</strong></th>
            </tr>
            <tr>
                <td class="cnt"><strong>R1-6, R1-9, R1-12, R1-18, R1-35, R1-87, R1-175</strong></td>
                <td>The principal purpose of these zoning districts is to conserve and protect the existing and future single family residential
                character of the Town, taking into consideration existing conditions including the present size of lots, use of land and
                availability of utilities and future land use needs, and accommodating the varying lifestyles of the community from low
                density, equestrian estates to more urban type medium density residential uses.
                </td>
            </tr>
            <tr class="striped">
                <td class="cnt"><strong>RM-1</strong></td>
                <td>The principal purpose of this zoning district is to make provision for two-family and multiple family dwellings in
                areas that are suitable and appropriate taking into consideration existing conditions such as present land use, lot
                sizes and public facilities. This District permits a greater density of population than the single-family residential
                districts.</td>
            </tr>
            <tr>
                <td class="cnt"><strong>RM-2</strong></td>
                <td>The principal purpose of this zoning district is to make provision for multiple family dwellings in centrally located
                portions of the Town that are suitable and appropriate for apartments, townhomes, condominiums and patio
                homes and that are in close proximity to the Central Business District, Library, and Community Center.</td>
            </tr>
            <tr class="striped">
                <td class="cnt"><strong>MHP</strong></td>
                <td>The principal purpose of this zoning district is to make provision for mobile home parks in locations that are
                suitable and appropriate taking into consideration existing conditions such as the character and use of adjoining
                land, accessibility from a major street or highway, availability of utilities, present and future needs for such facilities
                to accommodate permanent residents and traveling public. In general, the intensity of use of mobile home parks is
                similar to that of low-density multiple family residential developments.</td>
            </tr>
            <tr>
                <td class="cnt"><strong>RVP</strong></td>
                <td>The purpose of this zoning district is to provide Recreational Vehicle Parks suitable and appropriate in terms of
                site area, the character of adjacent and nearby land uses, and accessibility to and from a major highway.
                </td>
            </tr>
            <tr class="striped">
                <td class="cnt"><strong>PSC</strong></td>
                <td>The principal purpose of this zoning district is to provide for well designed and attractive retail shopping facilities on sites in
                appropriate locations to serve adjacent and nearby residential neighborhoods. Permitted uses in this zoning district include
                the retail sale of merchandise and services customarily considered as shopping center uses.</td>
                    </tr>
            <tr>
                <td class="cnt"><strong>C-1</strong></td>
                <td>The purpose of this zoning district is to provide for shops and services in convenient locations to meet the
                daily needs of families in the immediate residential neighborhoods. Principal uses permitted in this zoning district include
                food markets, drugstores and personal service shops.
                </td>
            </tr>
            <tr class="striped">
                <td class="cnt"><strong>C-2</strong></td>
                <td>The purpose of this zoning district is to protect and conserve the central business district, to expedite traffic
                movement by requiring new business to provide off-street loading and unloading space, to encourage the provision of
                central public parking facilities, and to provide for business and other uses that serve the entire community.
                </td>
            </tr>
            <tr>
                <td class="cnt"><strong>C-3</strong></td>
                <td>The purpose of this zoning district is to make provision for commercial uses and services that are needed to
                serve the local population and persons traveling through the community. Uses permitted in this district are located along
                major streets to provide convenient access. Permitted uses are required to provide off-street parking and loading and
                unloading facilities in order to expedite traffic movement on adjoining streets.
                </td>
            </tr>
            <tr class="striped">
                <td class="cnt"><strong>RR</strong></td>
                <td>The Resort and Recreation District is established to provide for the development and operation of temporary lodging,
                recreation opportunities and associated specialized commercial guest facilities while protecting adjacent land uses from
                inappropriate and adverse impacts. The intent is to provide for the designation and regulations of certain land uses that are
                primarily intended for visitors to the Town. The Resort and Recreation District may be applied to property that is best
                suited to accommodating the needs of the visiting public without inappropriate impact upon the daily functioning of the
                community or inappropriate impacts upon surrounding properties.
                </td>
            </tr>
            <tr>
                <td class="cnt"><strong>MUDD</strong></td>
                <td>The purpose of this district is to allow for incremental development of residential to commercial
                property. The Zoning Administrator may determine whether a proposed use meets the intent of the Zoning District if
                such a use is not specifically listed. Some of the aspects of the District include:

                <ol type="A">
                    <li>High-quality office, storefront retail, restaurant and entertainment to integrate with various residential components
                        in order to create an urban center where people live, work, and entertain.</li>
                    <li>Developments that create a compacted pedestrian environment and promote pedestrian activities that would
                        balance day and night uses.</li>
                    <li>Innovative integration of compatible uses through the conversion of existing buildings and the development of new
                        buildings in a manner that fosters sensitive and sustainable site design and architectural style.</li>
                </ol>

                </td>
            </tr>
            <tr class="striped">
                <td class="cnt"><strong>IND-1</strong></td>
                <td>The purpose of this zoning district is to provide sufficient space in appropriate locations for
                certain types of business and manufacturing free from offense in modern landscaped buildings, to make available more
                attractive locations for these businesses and factories and to provide opportunities for employment closer to residence
                with corresponding reduction of travel time from home to work</td>
            </tr>
            <tr>
                <td class="cnt"><strong>IND-2</strong></td>
                <td>The purpose of this zoning district is to provide for light industrial uses in locations which are
                suitable and appropriate taking into consideration the land uses on adjacent or nearby properties, access to a major street
                or highway, rail service or other means of transportation, and the availability of public utilities. Principal uses permitted in
                this zoning district include the manufacture, compounding, processing, packaging or treatment of materials which do not
                cause or produce objectionable effects that would impose hazard to adjacent or other properties by reason of smoke, soot,
                dust, radiation, odor, noises, vibrations, heat, glare, toxic fumes, or other conditions that would affect adversely the public
                health, safety and general welfare.
                </td>
            </tr>
            <tr class="striped">
                <td class="cnt"><strong>IND-3</strong></td>
                <td>The purpose of this zoning district is to provide for heavy industrial uses in locations which are
                suitable and appropriate taking into consideration land uses on adjacent or nearby properties, access to a major street or
                highway, rail service or other means of transportation and the availability of public utilities. Principal uses permitted in this
                zoning district include the industrial uses that are not permitted in any other zoning district.
                </td>
            </tr>
        </table>

        </div><!-- /.modal-body -->
    </body>
</html>