<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
    </head>
    <body>

    <div id="" class="">

        <p>The Content describes the contents of the current map.  The contents of the map are organized into layers that group similar types of geographic features.</p>

        <p>The layers for the map are located in the Layer Options drop-down panel.</p>
        <dl>
            <dt>The map contains the following layers:</dt>
            <ul>
                <li>Street map information</li>
                <li>Aerial Imagery</li>
                <li>Yavapai County Parcels</li>
                <li>Maricopa County Parcels</li>
                <li>Maricopa County Boundary</li>
                <li>Town of WickenBurg Boundary</li>
                <li>Town of Wickenburg Flood Zone</li>
                <li>Town of Wickenburg Zoning</li>
                <li>Town of Wickenburg Employers with 5+ employees</li>
            </ul>
        </dl>

        <dl>
            <dt>You can change the display of the maps content in the following ways:</dt>
            <ul>
                <li>Change the visibility of a layer by checking or un-checking the layers check box.</li>
                <li>Change the transparency by moving the layers slider.  Moving the slider to the left will increase the layers transparency which will allow for seeing the contents underneath the layer. *Available only for the Flood Zone and Zoning layers</li>
            </ul>
        </dl>

    </div>
    </body>
</html>