<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
    </head>
    <body>

    <div id="" class="">

        <p>Print page allows you to create a PDF file of the current view of the map.  Clicking the Print button takes a snapshot of the current window, incorporating any map type, layers, and zoom level currently selected.  Choose your choice of map layout using the the drop-down menu.  When the printing process is done your map will be displayed in a new browser window or browser tab.  From this tab or window you can save the PDF document to a new location.</p>

        <p>If page does not automatically load you may have to check your browsers pop-up blocker.</p>

        <p>There is no requirement to have any Adobe software installed in order to generate the PDF file.</p>

        <ul>Manage Pop-up Info Helps
            <li><a target="_blank" href="https://support.google.com/chrome/answer/95472?hl=en">Google Chrome</a></li>
            <li><a target="_blank" href="https://support.mozilla.org/en-US/kb/pop-blocker-settings-exceptions-troubleshooting">Mozilla Firefox</a></li>
            <li><a target="_blank" href="http://windows.microsoft.com/en-us/internet-explorer/ie-security-privacy-settings#ie=ie-11">Microsoft Internet Explorer</a></li>
            <li><a target="_blank" href="http://support.apple.com/kb/PH11886">Apple Safari</a></li>
        </ul>


    </div>
    </body>
</html>