<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
    </head>
    <body>

        <button id="mClose" type="button" class="close closeX" data-dismiss="panel" onclick="toggleMTool()" aria-hidden="true">&times;</button>
            <a id="" type="button" class="close helpB" data-dismiss="panel" aria-hidden="true" href="#" data-toggle="modal" data-target="#helpModalTool"><img src="img/help_icon.png"></a>

        <div id="mToolHeader" class="panel-heading">
            <h4>Measurement Tool</h4>
        </div>

        <div id="measurementDiv"></div>
        <span>Press <b>CTRL</b> to enable snapping.</span>

    </body>
</html>