<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <button id="" type="button" class="close closeX" data-dismiss="panel" onclick="toggleReportWindow()" aria-hidden="true">&times;</button>
        <div id="pToolHeader" class="panel-heading">
            <h4>Gila Bend Reports</h4>
        </div>
        <div style="text-align:center;">
            <a target="_blank" class="btn reportbtn btn-sm btn-primary" href="http://geo.azmag.gov/services/Demographics/reports.html?city=Wickenburg">Demographics Report</a>
            <a target="_blank" class="btn reportbtn btn-sm btn-primary" href="http://geo.azmag.gov/services/employment/CityReport.html?city=Wickenburg">Employment Report</a>
        </div>
    </body>
</html>