<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <div class="modal-header">
            <button type="button" class="close closeX" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h2 class="modal-title" id=""><strong>Flood Zone Definitions</strong></h2>
        </div><!-- /.modal-header -->

        <div id="" class="legal modal-body">
            <div id="zoneTable">
                <table id="defTable" class="table table-striped">
                    <h4>Floodways</h4>
                    <tr>
                        <th><strong>Flood Zone&nbsp;</strong></th>
                        <th><strong>Summary</strong></th>
                    </tr>
                    <tr>
                        <td class="cnt"><strong>A</strong></td>
                        <td>
                            Areas subject to inundation by the 1-percent-annual-chance flood event generally determined using approximate methodologies. Because detailed hydraulic analyses have not been performed, no Base Flood Elevations (BFEs) or flood depths are shown. Mandatory flood insurance purchase requirements and floodplain management standards apply.
                        </td>
                    </tr>
                    <tr class="striped">
                        <td class="cnt"><strong>AE</strong></td>
                        <td>
                            Areas subject to inundation by the 1-percent-annual-chance flood event determined by detailed methods. Base Flood Elevations (BFEs) are shown. Mandatory flood insurance purchase requirements and floodplain management standards apply.
                        </td>
                    </tr>
                    <tr >
                        <td class="cnt"><strong>AH</strong></td>
                        <td>
                            Areas subject to inundation by 1-percent-annual-chance shallow flooding (usually areas of ponding) where average depths are between one and three feet. Base Flood Elevations (BFEs) derived from detailed hydraulic analyses are shown in this zone. Mandatory flood insurance purchase requirements and floodplain management standards apply.
                        </td>
                    </tr>
                    <tr class="striped">
                        <td class="cnt"><strong>AO</strong></td>
                        <td>
                            Areas subject to inundation by 1-percent-annual-chance shallow flooding (usually sheet flow on sloping terrain) where average depths are between one and three feet. Average flood depths derived from detailed hydraulic analyses are shown in this zone. Mandatory flood insurance purchase requirements and floodplain management standards apply.
                        </td>
                    </tr>
                    <tr>
                        <td class="cnt"><strong>FW</strong></td>
                        <td>
                            The floodway is the channel of a stream plus any adjacent floodplain areas that must be kept free of encroachment so that the 1% annual chance flood can be carried without substantial increases in flood heights.
                        </td>
                    </tr>
                </table>
                <table id="defTable" class="table table-striped">
                    <h4>Pending Floodways</h4>
                    <tr>
                        <th><strong>Flood Zone&nbsp;</strong></th>
                        <th><strong>Summary</strong></th>
                    </tr>
                    <tr>
                        <td class="cnt"><strong>A</strong></td>
                        <td>
                            Areas subject to inundation by the 1-percent-annual-chance flood event generally determined using approximate methodologies. Because detailed hydraulic analyses have not been performed, no Base Flood Elevations (BFEs) or flood depths are shown. Mandatory flood insurance purchase requirements and floodplain management standards apply.
                        </td>
                    </tr>
                </table>
            </div>
        </div><!-- /.modal-body -->
    </body>
</html>