<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
    </head>
    <body>

    <div id="" class="">

        <p>The markup tool provides tools for adding graphics to the map.</p>
        <p>When the markup tool is active the pop-ups in the map will be inactivated.  To identify a layer using pop-ups make sure the markup tools window is not active.</p>

    <u><strong>Add a graphic</strong></u>
        <ol>
            <li>Choose a markup tool from the dropdown.</li>
            <li>Click the fill color box and choose a fill color.</li>
            <li>Slide the trasparency slider to choose the appropriate amount of opacity.</li>
            <li>Click the outline color box and choose a color for the graphic outline.</li>
            <li>Click the  <button class="btn-sm glyphicon glyphicon-plus"></button> button to start drawing your graphic.</li>
            <li>If you chose Text as your tool, please enter the text input in the textbox and choose the appropriate font size.</li>
            <li>Simply click and drag to draw on the map.</li>
            <li>To undo the most recent graphic, click the <button class="btn-sm glyphicon glyphicon-share-alt flipped"></button> button next to the add button.</li>
        </ol>
     <u><strong>Editing Graphics</strong></u>
        <ol>
            <li>Click the <button class="btn-sm glyphicon glyphicon-pencil"></button> button.</li>
            <li>Click a graphic.</li>
            <li>Click any of the points on the graphic and drag to manipulate the shape.</li>
            <li>To edit text, simply double click on a text graphic and enter new text.</li>
        </ol>

    <u><strong>Deleting Graphics</strong></u>
        <ol>
            <li>Click the <button class="btn-sm glyphicon glyphicon-trash"></button> button.</li>
            <li>Click any of the added graphics.</li>
        </ol>
    </div>
    </body>
</html>