<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
    </head>
    <body>

    <div id="" class="">

        <p>The measurement tool provides tools for measuring both area and distance as well as determining the x,y location.</p>
        <p>When the measurement tool is active the pop-ups in the map will be inactivated.  To identify a layer using pop-ups make sure the measurement tool is not active.</p>

    <u><strong>Measurement Area Tool</strong></u>
        <ol>
            <li>Click the measure <strong>Area</strong> tool button on the Measurement Tools panel.</li>
            <li>Select desired measurement units in drop-down on the right.</li>
            <li>Use the mouse pointer to draw a polygon representing the area you want to measure.</li>
            <li>Click on the map location where you want to start measuring.</li>
            <li>Click to draw each new line segment of the polygon.</li>
            <li>Double-click to end the polygon.</li>
            <li>Results are displayed in the <strong>Measurement Results</strong> box below the tool bar.</li>
            <li>Click the measure <strong>Area</strong> button on the Measurement Tools panel to clear results and start over.</li>
        </ol>
    <u><strong>Measurement Distance Tool</strong></u>
        <ol>
            <li>Click the measure <strong>Distance</strong> tool button on the Measurement Tools panel.</li>
            <li>Select desired measurement units in drop-down on the right.</li>
            <li>Use the mouse pointer to draw a line representing the distance you want to measure.</li>
            <li>Click on the map location where you want to start measuring.</li>
            <li>The line can have more than one line segment.</li>
            <li>Double-click to end the line.</li>
            <li>Results are displayed in the <strong>Measurement Results</strong> box below the tool bar.</li>
            <li>Click the measure <strong>Distance</strong> button on the Measurement Tools panel to clear results and start over.</li>
        </ol>

    <u><strong>Measurement Location Tool</strong></u>
        <ol>
            <li>Click the <strong>Location</strong> tool button on the Measurement Tools panel.</li>
            <li>Use the mouse pointer to find the Longitude and Latitude of a location on the map.</li>
            <li>As you move the mouse over the map the Longitude and Latitude will appear in the <strong>Measurement Results</strong> box below the tool bar.</li>
            <li>Clicking on the map will add a pin showing the location and final results will be displayed in the <strong>Measurement Results</strong> box below the tool bar.</li>
            <li>Click the <strong>Location</strong> tool button on the Measurement Tools panel to clear results and start over.</li>
        </ol>

        <p>To help with more accurate measurement results you can use the <strong>Snapping</strong> tool function to snap to the parcels layer line.  Do this by pressing the <strong>CTRL</strong> key and use the mouse to hover near a parcel line.  The mouse pointer will snap to a parcel vertex.</p>


    </div>
    </body>
</html>