<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <button id="" type="button" class="close closeX" data-dismiss="panel" onclick="togglePrint()" aria-hidden="true">&times;</button>
            <a id="" type="button" class="close helpB" data-dismiss="panel" aria-hidden="true" href="#" data-toggle="modal" data-target="#helpModalPrint"><img src="img/help_icon.png"></a>

        <div id="pToolHeader" class="panel-heading">
            <h4>Printing Tool</h4>
        </div>
        <p>Printing output format is PDF.</p>
        <!-- that will be used for the print dijit -->
        <div id="printButton"></div>

    </body>
</html>